python-dotenv
requests 
numpy 
pandas 
tqdm 
jupyter 
pydantic 
gitsource 
openai 
onnxruntime 
tokenizers 
elasticsearch 
google-generativeai 
scikit-learn
opentelemetry-api 
opentelemetry-sdk 
pypdf
minsearch